<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="utf-8">
    <style>
        .container{
            max-width: 560px;
        }
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <form role="form" action="/account/create" th:object="${joinDto}" method="post">

        <div class="form-group">
            <input type="text" th:field="*{email}"
                           class="form-control" placeholder="휴대폰 번호 또는 이메일 주소">
        </div>
        <br>
        <div class="form-group">
            <input type="text" th:field="*{name}"
                               class="form-control" placeholder="성명">
        </div>
        <br>
        <div class="form-group">
            <input type="text" th:field="*{username}"
                       class="form-control" placeholder="사용자 이름">
        </div>
        <br>
        <div class="form-group">
            <input type="password" th:field="*{password}"
                   class="form-control" placeholder="비밀번호">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- /container -->
</body>
</html>