<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>

    <form action="join.html" th:action th:object="${joinDto}" method="post">

        <div>
            <input type="text" id="joinId" th:field="*{joinId}"
                   class="form-control" th:errorclass="field-error" placeholder="휴대폰 번호 또는 이메일 주소">
            <div class="field-error" th:errors="*{joinId}" />
        </div>

        <div>
            <input type="text" id="name" th:field="*{name}"
                   class="form-control" th:errorclass="field-error" placeholder="성명">
            <div class="field-error" th:errors="*{name}" />
        </div>

        <div>
            <input type="text" id="username" th:field="*{username}"
                   class="form-control" th:errorclass="field-error" placeholder="사용자 이름">
            <div class="field-error" th:errors="*{username}" />
        </div>

        <div>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control" th:errorclass="field-error" placeholder="비밀번호">
            <div class="field-error" th:errors="*{password}" />
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="button">가입</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->
</body>
</html>