<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="utf-8">
    <style>
        .container{
            max-width: 560px;
        }
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <form role="form" action="/account/login" th:object="${loginDto}" method="post">

        <div class="form-group">
            <input type="text" th:field="*{loginId}"
                   class="form-control" placeholder="전화번호, 사용자 이름 또는 이메일">
        </div>
        <br>
        <div class="form-group">
            <input type="password" th:field="*{password}"
                   class="form-control" placeholder="비밀번호">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- /container -->
</body>
</html>