<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class = "container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div>
        <table class = "table table-striped">
            <thead>
            <tr>
                <th class="col-md-4">사용자 이름</th>
                <th class="col-md-4">성명</th>
                <th class="col-md-4">팔로우 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <button class="btn btn-outline-secondary" th:text="${user.username}"
                            th:onclick="|location.href='@{/profile/{toUsername}/{fromUsername} (toUsername=${user.username}, fromUsername=${user.requestedUsername})}'|">
                    </button>
                </td>
                <td th:text="${user.name}"></td>
                <td>
                    <form th:if="${T(com.gokimpark.instaclone.domain.follow.FollowStatus).FOLLOWING.equals(user.followStatus)}" method="post"
                          th:action="@{/unfollow/{toUsername}/{fromUsername} (toUsername=${user.username}, fromUsername=${user.requestedUsername})}">
                        <button type="submit" class="btn btn-secondary">Following</button>
                    </form>
                    <form th:if="${T(com.gokimpark.instaclone.domain.follow.FollowStatus).UNFOLLOW.equals(user.followStatus)}" method="post"
                       th:action="@{/follow/{toUsername}/{fromUsername} (toUsername=${user.username}, fromUsername=${user.requestedUsername})}">
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>