<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class = "container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div>
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>사용자 이름</th>
               <th>성명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>